<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.phonegap.plugins.testflightsdk"
    version="1.2.0">

    <name>TestFlight SDK</name>
	
    <engines>
        <engine name="cordova" version=">=2.5.0" />
    </engines>
	
    <access origin="*.testflightapp.com" />
    <asset src="www/testflight.js" target="js/testflight.js" />

    <!-- ios -->
    <platform name="ios">
        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/widget/plugins">
            <plugin name="TestFlightSDK" value="CDVTestFlight"/>
        </config-file>

        <!-- Note: the ios src is based off src/ios implicitly --> 
        <header-file src="src/ios/TestFlight.h" />
        <header-file src="src/ios/CDVTestFlight.h" />
        
        <source-file src="src/ios/CDVTestFlight.m" />
        <framework src="src/ios/libTestFlight.a" />
        
        <framework src="libz.dylib" />
    </platform>
</plugin>
